<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
			    <h2><%= t(".title_page") %></h2>
			    <div class="clearfix"></div>
		  </div>

		  <div class="x_content">
			<%= render 'form', admin_cron_request: @admin_cron_request %>
			<%= link_to t("button.back"), admin_cron_requests_path %>
		  </div>
		</div>
	</div>
</div>