<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
			    <h2><%= t(".title_page") %></h2>
			    <div class="clearfix"></div>
		  </div>

		  <div class="x_content">
			<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
			<%%= link_to t("button.back"), <%= index_helper %>_path %>
		  </div>
		</div>
	</div>
</div>